@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=RocknRoll+One&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

/*Resetando o CSS padrão do Navegador*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Padronização do body */

body {
    background-color: #0D2027;
    color: #fff;
}

/* header */

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 20px;
    text-shadow: 5px 2px 10px black;

    top: 0;
    left: 0;
    width: 100%; /* Para ocupar toda a largura */
    z-index: 1000;
}

h1 {
    font-family: "Rock Salt", cursive;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

.navegacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.menu a {
    padding: 10px;
    margin: 10px;
    font-size: 13pt;
    color: #fff;
    font-family: "RocknRoll One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#swich {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#swich button {
    height: 32px;
    width: 32px;
    border: 0;
    border-radius: 50%;
    background: rgb(233, 233, 233) url(assets/moon.svg) no-repeat center;
    background-size: 70%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

#swich span {
    display: block;
    height: 24px;
    width: 64px;
    background-color: #fff;
    border: 1px solid rgb(0, 0, 0);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
}

.conteudo-principal {
    background: url(assets/kiki-dark-mode.png) no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;

}

.carreira {
    padding: 300px 100px;
    color: white;
    font-size: 40px;
    font-family: "Rokkitt", serif;
    text-shadow: 10px 10px 10px black;
}


  /*

  .ligth #swich button {
    left: initial;
    right: 0;
  }
  
  
/*


.sobre-mim {
    display: flex;
    justify-content: center;
    margin: 90px;
    border-bottom: solid 1px whitesmoke;
}

.conteudo {
    display: flex;
    flex-direction: column;
}


.sobre-mim h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40pt;
}

.sobre-mim p {
    font-family: "Rokkitt", serif;
    font-size: 15pt;
    width: 70%;
    text-align: justify;
    margin-left: 100px;
}

.contato {
    margin: 90px;
    border-bottom: solid 1px whitesmoke;
    border-top: solid 1px whitesmoke;
}

.contato h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40pt;
    margin-top: 70px ;
}

.contato p{
    font-family: "Rokkitt", serif;
    font-size: 15pt;
    width: 70%;
    text-align: justify;
    margin-left: 100px;
    padding-bottom: 20px;
}

span {
    color: #fff;
}

.contato span:hover {
    text-decoration: line-through;
}

.meus-projetos {
    display: flex;
    justify-content: center;
    gap: 300px;
    
}

.parte-a h1 {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40pt;
}

.parte-a p {
    font-family: "Rokkitt", serif;
    font-size: 15pt;
    width: 70%;
    text-align: justify;
    margin-left: 100px;
}

.parte-b {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 20pt;    
} 

.parte-b a{
    color: #fff; 
} 

.parte-b a :hover{
    background-color: #ffffffcd;
    color: #000000;
    border-radius: 20px;
    transition: all .2s;
} 

.rodape {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 10pt; 
    text-align: center;
    margin-top: -50px;
}

