@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=RocknRoll+One&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

/*Resetando o CSS padrão do Navegador*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* Criando variaveis para o ligth mode e o dark mode*/

:root {
    --text-color: #fff;
    --background-color: #0D2027;
    --border-color: #fff;
    --shadow-color: #000;
    --background-image: url(assets/imgs/kiki-dark-mode.png);
    --buton-switch-color: rgb(233, 233, 233);
    --buton-switch-image:  url(assets/moon.svg);
    --card-color: #272648;
    --card-buton-color: #151827;

}

.ligth {
    --text-color: #fff;
    --background-color: #557D63;
    --background-image: url(assets/imgs/kiki-ligth-mode.png);
    --buton-switch-image:  url(assets/sun.svg);
    --card-color: #446d4c;
    --card-buton-color: #0C4332;
}

/**/

html {
    scroll-behavior: smooth;
}

#preloader {
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: #0D2027;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2000;
}

.loader {
    border: 8px solid #fff;
    border-top: 8px solid #557D63;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg);}
    100% { transform: rotate(360deg);}
}

/* Padronização do body */

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

/* header */

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    text-shadow: 5px 2px 10px var(--shadow-color);

    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    border-bottom: 1px solid var(--border-color);
    backdrop-filter: blur(4px);
}

h1, h2 {
    font-family: "Rock Salt", cursive;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

p {
    font-family: "Rokkitt", serif;
    font-size: 18pt;
}

.navegacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}

.menu a {
    padding: 10px;
    margin: 10px;
    font-size: 13pt;
    color: var(--text-color);
    font-family: "RocknRoll One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu a:hover{
    border-bottom: 1px solid #fff;
    transition: .2s;
}

#swich {
    position: relative;
    width: 64px;
    margin: 4px auto;
}

#swich button {
    height: 32px;
    width: 32px;
    border: 0;
    border-radius: 50%;
    background: var(--buton-switch-color) var(--buton-switch-image) no-repeat center;
    background-size: 70%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.ligth #swich button {
  left: initial;
  right: 0;
}

#swich span {
    display: block;
    height: 24px;
    width: 64px;
    background-color: #fff;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 9999px;
}

.conteudo-principal {
    background: var(--background-image) no-repeat center;
    background-size: cover;
    height: 100vh;
    display: flex;

}

.carreira {
    padding: 300px 100px;
}

.carreira p  {
    font-size: 40px;
    text-shadow: 10px 10px 10px var(--shadow-color);
}

/* Sessão sobre mim */

.sobre-mim {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px;
    border-bottom: solid 1px whitesmoke;
}

.sobre-mim img {
    width: 500px;
    margin: 50px 20px;
}

.conteudo-sobre-mim {
    margin-left: 30px;
}


.sobre-mim h2 {
    font-size: 40pt;
}

.sobre-mim p {
    width: 80%;
    text-align: justify;
    margin-left: 50px;
}

/*Meus projetos*/

.projetos-destaque {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}

.projetos-destaque h2 {
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30pt;
    margin-bottom: 10px;
}

.cards {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 20px;
    gap: 50px;
    border-bottom: 1px solid #fff ;
}

.cards div {
    display: flex;
    gap: 90px;
}

article {
    background-color: var(--card-color);
    height: 444px;
    width: 338px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

article img {
    margin-top: 40px;
    width: 300px;
    border-radius: 20px;
}

article p {
    font-family: "RocknRoll One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15pt;
}

article button {
    background-color: var(--card-buton-color);
    border: none;
    height: 60px;
    width: 200px;
    border-radius: 50px;
    color: #fff;
    font-family: "Rokkitt", serif;
    font-size: 13pt;
    transition: .2s;
}

article button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 1px 1px 15px #0D2027;
}

.contato {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px;
    border-bottom: 1px solid #fff;
}

.contato img {
    width: 500px;
    margin: 30px;
}

.contato h2 {
    font-size: 30pt;
}

.contato p {
    margin-left: 30px;
    text-align: justify;
}

.contato button {
    background-color: var(--card-buton-color);
    border: none;
    margin-top: 20px;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    color: var(--text-color);
    font-family: "Rokkitt", serif;
    font-size: 13pt;
    transition: .2s;
}

.contato button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 1px 1px 15px #151827;
}

.rodape {
    text-align: center;
    margin-top: -20px;
}

.logos {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 18px 0;
    font-size: 24px;
}

.logos a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 16px;
    transition: background .2s;
    color: #fff;
}
  
.logos a:hover {
    background-color: #910000;
}
  /*

  .ligth #swich button {
    left: initial;
    right: 0;
  }
  
  
/*






